<ion-view view-title="Carpet Cleaning">
<ion-content padding="true">
<h1>Carpet Cleaning</h1>
<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">No guaranteed adjacent</ion-toggle>

<!-- Rooms -->
<div class="list card">
	<div class="item item-divider">
		Rooms <p>Total: {{ total(selectedRoomCleaning, selectedRoomProtect, selectedRoomDeodorize ) }}</p>
	</div>
	
	<label class = "item item-input item-select">
		<div class = "input-label">
			clean
		</div>
		
		<select ng-model = "selectedRoomCleaning" ng-options="selectedRoomCleaning.price as selectedRoomCleaning.room for selectedRoomCleaning in cleaning">
		</select>
		
		<p>Price: {{ selectedRoomCleaning }}</p>	

	</label>
	<label class = "item item-input item-select">
		<div class = "input-label">
			protect
		</div>
		
		<select ng-model = "selectedRoomProtect" ng-options="selectedRoomProtect.price as selectedRoomProtect.room for selectedRoomProtect in protect">
		</select>

		<p>Price: {{ selectedRoomProtect }}</p>	

	</label>
	<label class = "item item-input item-select">
		<div class = "input-label">
			deodorize
		</div>
		
		<select ng-model = "selectedRoomDeodorize" ng-options="selectedRoomDeodorize.price as selectedRoomDeodorize.room for selectedRoomDeodorize in deodorize">
		</select>

		<p>Price: {{ selectedRoomDeodorize }}</p>	
	</label>
</div>

<!-- bath/laundry -->
<div class="list card">
	<div class="item item-divider">
		Bath/laundry <p>Total: {{ total(selectedRoomCleaning, selectedRoomProtect, selectedRoomDeodorize ) }}</p>
	</div>
	
	<label class = "item item-input item-select">
		<div class = "input-label">
			clean
		</div>
		
		<select ng-model = "selectedRoomCleaning" ng-options="selectedRoomCleaning.price as selectedRoomCleaning.room for selectedRoomCleaning in cleaning">
		</select>
		
		<p>Price: {{ selectedRoomCleaning }}</p>	

	</label>
	<label class = "item item-input item-select">
		<div class = "input-label">
			protect
		</div>
		
		<select ng-model = "selectedRoomProtect" ng-options="selectedRoomProtect.price as selectedRoomProtect.room for selectedRoomProtect in protect">
		</select>

		<p>Price: {{ selectedRoomProtect }}</p>	

	</label>
	<label class = "item item-input item-select">
		<div class = "input-label">
			deodorize
		</div>
		
		<select ng-model = "selectedRoomDeodorize" ng-options="selectedRoomDeodorize.price as selectedRoomDeodorize.room for selectedRoomDeodorize in deodorize">
		</select>

		<p>Price: {{ selectedRoomDeodorize }}</p>	
	</label>
</div>

<!-- entry/hall -->
<div class="list card">
	<div class="item item-divider">
		Entry / Hall <p>Total: {{ total(selectedRoomCleaning, selectedRoomProtect, selectedRoomDeodorize ) }}</p>
	</div>
	
	<label class = "item item-input item-select">
		<div class = "input-label">
			clean
		</div>
		
		<select ng-model = "selectedRoomCleaning" ng-options="selectedRoomCleaning.price as selectedRoomCleaning.room for selectedRoomCleaning in cleaning">
		</select>
		
		<p>Price: {{ selectedRoomCleaning }}</p>	

	</label>
	<label class = "item item-input item-select">
		<div class = "input-label">
			protect
		</div>
		
		<select ng-model = "selectedRoomProtect" ng-options="selectedRoomProtect.price as selectedRoomProtect.room for selectedRoomProtect in protect">
		</select>

		<p>Price: {{ selectedRoomProtect }}</p>	

	</label>
	<label class = "item item-input item-select">
		<div class = "input-label">
			deodorize
		</div>
		
		<select ng-model = "selectedRoomDeodorize" ng-options="selectedRoomDeodorize.price as selectedRoomDeodorize.room for selectedRoomDeodorize in deodorize">
		</select>

		<p>Price: {{ selectedRoomDeodorize }}</p>	
	</label>
</div>

<!-- staircase -->
<div class="list card">
	<div class="item item-divider">
		Staircase <p>Total: {{ total(selectedRoomCleaning, selectedRoomProtect, selectedRoomDeodorize ) }}</p>
	</div>
	
	<label class = "item item-input item-select">
		<div class = "input-label">
			clean
		</div>
		
		<select ng-model = "selectedRoomCleaning" ng-options="selectedRoomCleaning.price as selectedRoomCleaning.room for selectedRoomCleaning in cleaning">
		</select>
		
		<p>Price: {{ selectedRoomCleaning }}</p>	

	</label>
	<label class = "item item-input item-select">
		<div class = "input-label">
			protect
		</div>
		
		<select ng-model = "selectedRoomProtect" ng-options="selectedRoomProtect.price as selectedRoomProtect.room for selectedRoomProtect in protect">
		</select>

		<p>Price: {{ selectedRoomProtect }}</p>	

	</label>
	<label class = "item item-input item-select">
		<div class = "input-label">
			deodorize
		</div>
		
		<select ng-model = "selectedRoomDeodorize" ng-options="selectedRoomDeodorize.price as selectedRoomDeodorize.room for selectedRoomDeodorize in deodorize">
		</select>

		<p>Price: {{ selectedRoomDeodorize }}</p>	
	</label>
</div>


</ion-content>
</ion-view>